.body {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    background: url(../img/first_background_image.jpeg) center 0 no-repeat, #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.first_wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.second_wrapper {
    max-width: 1262px;
    margin: 0 auto;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

/* Header start */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 56px 0 0 0;
    transition: .3s linear;
}

.header_active {
    width: 100%;
    padding: 10px 0 10px 0;
    background: #0e1d28a2;
    transition: .3s linear;
    z-index: 99;
}

.header_wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header_list {
    margin-left: 30px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
}

.nav_item {
    margin-right: 82px;
}

.nav_item:last-child {
    margin-right: 0;
}

.nav_items_link {
    font-size: 18px;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
}

.nav_items_link:hover, .nav_items_link:focus, .nav_items_link:active {
    opacity: 0.7;
}

/* Header end */

/* Main start */

/* Discover section start */

.discover {
    min-height: 100vh;
    padding-top: 260px;
    padding-bottom: 242px;
    margin-bottom: 130px;
}

.discover_main_text {
    max-width: 620px;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
}

.discover_second_text {
    max-width: 550px;
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
}

.discover_searche {
    max-width: 890px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.searche_field {
    width: 297px;
    min-height: 50px;
    border-bottom: 2px solid;
    border-color: #BFC0C5;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.discover_input {
    margin-left: 23px;
    padding: 0;
    border: none;
    background-color: transparent;
    min-width: 216px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    flex-grow: 1;
}

.discover_button {
    width: 170px;
    height: 58px;
    background-color: #1B7DFF;
    border: none;
    color: #ffffff;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.discover_button:hover, .discover_button:focus, .discover_button:active {
    background-color: #0b5dc8;
    color: #ffffffc8;
}

.discover_input::-webkit-input-placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffffc8;
}

.oval_image {
    margin-top: -2.45px;
    width: 20px;
    height: 20px;
}

/* Discover section end */

/* Benefits section start */

.benefits_wrapper {
    margin: -223px auto 135px auto;
    padding: 93px 7.9% 110px 7.9%;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.benefits_main_text {
    margin-bottom: 120px;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
}

.card_benefits_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 57px;
    align-items: flex-end;
}

.benefits_card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.benefits_logo {
    margin: 0 0 auto 0;
}

.benefits_card_par {
    margin-top: 37px;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.benefits_card_text {
    margin-bottom: 39px;
}

.benefits_link {
    max-width: 161px;
    display: inline-flex;
    text-decoration: none;
    color: #006DFE;
    padding-right: 59px;
    background: url(../img/svg/shape.svg) no-repeat 95%;
    transition: 0.2s all;
    margin: auto 0 0 0;
}

.benefits_link:hover, .benefits_link:focus {
    background: url(../img/svg/shape.svg) no-repeat right;
    opacity: 0.65;
}

/* Benefits section end */

/* Get_inspired section start */

.get_inspired_wrapper {
    margin-bottom: 135px;
}

.get_inspired_title {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.get_inspired_main_text {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.get_inspired_main_text::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background: #006DFE;
    position: absolute;
    left: 0;
    bottom: 0;
}

.get_inspired_limk_wrapper {
    max-width: 131px;
    font-size: 16px;
    line-height: 24px;
    padding-right: 59px;
    margin-left: 30px;
    background: url(../img/svg/shape.svg) no-repeat right;
    transition: 0.2s all;
    color: #006DFE;
    text-decoration: none;
}

.get_inspired_limk_wrapper:hover, .get_inspired_limk_wrapper:focus {
    /* may be done like benefits links */
    /* background: url(../img/svg/shape.svg) no-repeat 95%; */
    opacity: 0.65;
}

.get_inspired_pictures {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.inspired_card {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.inspired_card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.inspired_card:hover .inspired_img, .inspired_card:focus .inspired_img {
    transform: scale(1.05);
}

.inspired_card:hover .inspired_img_text, .inspired_card:focus .inspired_img_text {
    color: #ffffffc8;
}

.large_card {
    grid-column: span 3;
}

.small_card {
    grid-column: span 2;
}

.inspired_img {
    width: 100%;
    object-fit: cover;
    transition: 0.15s all;
}

.inspired_img_lg {
    height: 354px;
}

.inspired_img_small {
    height: 283px;
}

.inspired_img_text {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    position: absolute;
    bottom: 27px;
    left: 30px;
    z-index: 3;
}

.inspired_img_link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

/* Get_inspired section end */

/* Pages start */

.pages {
    margin-bottom: 139px;
}

.page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 77px;
}

.page_img {
    width: 100%;
    grid-column: span 2;
    overflow: hidden;
}

.page_img:hover .page_start_img {
    transform: scale(1.05);
}

.page_start_img {
    height: 100%;;
    object-fit: cover;
    transition: 0.15s all;
}

.page_info {
    width: 90%;
    margin: 0 auto;
    object-fit: cover;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.page_info_header {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

.page_link {
    font-size: 16px;
    line-height: 24px;
    padding-right: 59px;
    background: url(../img/svg/shape.svg) no-repeat 95%;
    transition: 0.2s all;
    color: #006DFE;
    text-decoration: none;
}

.page_link:hover, .page_link:focus {
    opacity: 0.65;
    background: url(../img/svg/shape.svg) no-repeat right;
}

.page_link1 {
    max-width: 203px;
}

.page_link2 {
    max-width: 239px;
}

/* Pages end */

/* Places start */

.places_all {
    margin-bottom: 86px;
}

.place_title {
    margin-bottom: 56px;
}

.place_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.place_card {
    width: 100%;
    min-height: 567px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card_img_block {
    margin-bottom: 45px;
    position: relative;
    height: 373px;
}

.card_img {
    height: 100%;
}

.card_text {
    margin-bottom: 31px;
}

.card_button_block {
    /* width: 118px;
    height: 42px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 12px 19px;
    background: #006DFE;
    color: #FFFFFF;
    border: 0;
    text-decoration: none;
    margin: auto 0 0 0;
}

.card_button_block:hover, .card_button_block:active, .card_button_block:focus {
    background-color: #0b5dc8;
    transition: 0.15s;
}

.card_bottom_picture {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(21, 24, 36, 0.6);
    min-height: 55px;
    width: 100%;
    padding: 0 25px 0 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    z-index: 2;
}

.card_bottom_picture_inform {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.card_bottom_picture_like {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 14px;
}

.card_bottom_picture_like_count {
    margin-right: 4px;
}

.card_bottom_picture_comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card_bottom_picture_comment_count {
    margin-right: 4px;
}


/* Places end */

/* Main end */

